logger
monitor
80s-software/gtek/CBIN.BAS
80s-software/gtek/CHANGE.BAS
80s-software/gtek/CHEX.BAS
80s-software/gtek/DEBUG.TXT
80s-software/gtek/EXMPL.VGZ
80s-software/gtek/FIXBIN.EXE
80s-software/gtek/FIXHEX.EXE
80s-software/gtek/GHEX.EXE
80s-software/gtek/GZIP.EXE
80s-software/gtek/INSTALL.BAT
80s-software/gtek/INTR16.BAS
80s-software/gtek/INTR32.BAS
80s-software/gtek/KKK.MIK
80s-software/gtek/PARTS.LST
80s-software/gtek/PGMX7.COM
80s-software/gtek/PGMX7A.COM
80s-software/gtek/PGMX7ANB.COM
80s-software/gtek/PGX.OBJ
80s-software/gtek/PGX12.EXE
80s-software/gtek/PGX12ALT.EXE
80s-software/gtek/PGX24.EXE
80s-software/gtek/PGX24ALT.EXE
80s-software/gtek/PINS7ANB.COM
80s-software/gtek/PINSTAL7.COM
80s-software/gtek/PINSTALL.COM
80s-software/gtek/READPGX.ME
80s-software/gtek/RUN7128.BAT
80s-software/gtek/SEARCHER.DAT
80s-software/gtek/SEARCHER.EXE
80s-software/gtek/SPLIT16.BAS
80s-software/gtek/SPLIT32.BAS
80s-software/gtek/STO.BAT
80s-software/gtek/STOHEX.COM
80s-software/gtek/UART1200.ASM
80s-software/gtek/UART1200.OBJ
